@import "../../assets/styles/_abstracts.scss";
@import "../../assets/styles/_variables.scss";

.searchContainer {
  font-family: $nunito;
  &__items {
    padding-top: 2rem;
  }
  &__noProducts {
    @include padding-y(2rem, 0);
  }
  &__btnBack {
    @include margin-y(1rem, 2rem);
    width: 10rem;
    @include fondoVerde;
  }
}
