.itemDetail {
  padding: 2rem 5rem;
  justify-content: center;
  justify-items: center;
  &__imgContainer {
    position: relative;
    padding-top: 100%;
    @media (min-width: 992px) {
      padding-top: 0;
    }
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    &__title {
      text-align: center;
      font-size: 32px;
    }
    &__description {
      font-size: 20px;
    }
    &__price {
      font-size: 28px;
      text-align: center;
    }
  }
  &__selled {
    display: flex;
    flex-direction: column;
    &__yetInCart {
      margin-top: 1rem;
      align-self: center;
      width: 20rem;
      text-align: center;
      background-color: rgb(73, 76, 54);
      color: black;
    }
    &__finalizar,
    &__remove {
      flex-basis: 45%;
      margin-top: 1rem;
      display: flex;
      align-self: center;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      background-color: rgb(73, 76, 54);
      color: black;
      border-radius: 0.25rem;
      &:hover {
        background-color: rgb(24, 25, 18) !important;
        color: rgb(169, 172, 131) !important;
        transform: skewX(-15deg);
      }
    }
  }
  &__volver {
    padding: 0 2rem;
    width: fit-content;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(73, 76, 54);
    color: black;
    border-radius: 0.25rem;
    &:hover {
      background-color: rgb(24, 25, 18) !important;
      color: rgb(169, 172, 131) !important;
      transform: skewX(-15deg);
    }
  }
}
