@import "../../assets/styles/_abstracts.scss";
@import "../../assets/styles/_variables.scss";

.hero {
  @include fondoHero;
  .row {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    .bienvenida {
      padding: 0 2rem;
      font-weight: bold;
      h2 {
        font-size: 40px;
      }
    }
    .cajaHeroLogo {
      @include flexColumn(0, unset, center);
      .heroLema {
        font-weight: bold;
        align-self: flex-end;
      }
    }
  }
}
