.tituloFinalizar {
  padding-top: 1rem;
  background-color: rgb(73, 76, 54);
  color: rgb(169, 172, 131);
  gap: 1rem;
  align-content: center;
  flex-direction: column;
  text-align: center;
  h2,
  h4 {
    font-weight: bold;
  }
}

.table {
  border-collapse: separate;
  border-spacing: 0 2rem;
  @media (min-width: 768px) {
    & {
      width: 80%;
    }
  }
  @media (min-width: 992px) {
    & {
      width: 70%;
    }
  }
  @media (min-width: 1200px) {
    & {
      width: 60%;
    }
  }
  .columnaImagen {
    width: 2.3rem;
    @media (min-width: 576px) {
      width: 3.8rem;
    }
  }
}
.sinProductos {
  padding-bottom: 2rem;
  &__volver {
    width: fit-content;
    align-self: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(73, 76, 54);
    color: black;
    border-radius: 0.25rem;
    &:hover {
      background-color: rgb(24, 25, 18) !important;
      color: rgb(169, 172, 131) !important;
      transform: skewX(-15deg);
    }
  }
}
