@import "../../assets/styles/_abstracts.scss";
@import "../../assets/styles/_variables.scss";

.item {
  @include padding-y(0, 2rem);
  @include flexColumn(0, space-between, unset);
  &__image {
    position: relative;
    @include padding-y(100%, 0);
    img {
      @include fotos;
    }
  }
  &__title {
    text-align: center;
    font-size: 1.4rem;
  }
  &__price {
    @include padding-y(1rem, 1rem);
    text-align: center;
    font-size: 1.6rem;
  }
  &__verProducto {
    @include padding-x(1rem, 1rem);
    align-self: center;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    @include fondoVerde;
    &:hover {
      @include fondoAmarillo;
      transform: skewX(-15deg);
    }
  }
}
