.navi {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(73, 76, 54, 0.97) !important ;
  &__logo {
    width: 8rem;
    height: auto;
  }
  &__links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: "Open Sans", sans-serif;
    &__link,
    .dropdown__btn {
      color: rgb(169, 172, 131) !important;
      font-weight: bold !important;
      &:hover {
        transform: skewX(-10deg);
        background-color: rgb(24, 25, 18) !important;
        transition: 0.4s;
      }
      &:focus {
        color: rgb(169, 172, 131);
      }
    }
  }
}
