@import "../../assets/styles/_abstracts.scss";
@import "../../assets/styles/_variables.scss";

.footer {
  font-family: $nunito;
  @include fondoVerde;
}
.footerFlex {
  @include flex(0, center, center);
  @include padding-y(1rem, 2rem);
}
.footerLogo {
  @include padding-y(0, 1rem);
  width: 20rem;
}
.copyright {
  font-size: 1rem;
  font-weight: bold;
  a {
    text-decoration: none;
    color: rgb(169, 172, 131) !important;
  }
  @media (min-width: 768px) {
    & {
      font-size: 0.5rem;
    }
  }
  @media (min-width: 992px) {
    & {
      font-size: 1rem;
    }
  }
}
