.itemCount {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  &__counter {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: auto;
    }
    &__button {
      margin: 0 0.5rem;
      padding: 0;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
