.itemCount {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  &__counter {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: auto;
    }
    &__button {
      margin: 0 0.5rem;
      padding: 0;
      &:focus {
        box-shadow: none;
      }
    }
  }
  &__addCart {
    &__button {
      width: fit-content;
      font-size: 20px;
      background-color: rgb(73, 76, 54);
      color: black;
      border-radius: 0.25rem;
      &:hover {
        background-color: rgb(24, 25, 18) !important;
        color: rgb(169, 172, 131) !important;
        transform: skewX(-15deg);
      }
    }
  }
}
