@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

$nunito: "Nunito", sans-serif;
$amarillo: rgb(169, 172, 131);
$amarilloOscuro: rgb(177, 184, 122);
$verde: rgb(73, 76, 54);
$verdeOscuro: rgb(24, 25, 18);
$sombra1: 0 2px 5px rgba(0, 0, 0, 0.1);
$sombra2: 0 4px 5px rgba(0, 0, 0, 0.2);
